.message-content {
    border-radius: 10px;
    padding:10px;
    color: white;
    display: inline-block;
}


.received .message-content {
    background-color: #26a69a;
}

.sent .message-content {
    background-color: #ee6e73;
}

.message{
    display: flex;
    flex-direction: column;
}

.message.sent{
    align-items:flex-start;
}

.message.sent {
    align-items:flex-end;
}

.sent .message-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messages-wrapper {
    max-height: 70vh;
    overflow: scroll;
}